.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 25rem 1rem 10rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: white;
  align-items: center;
}

.item {
  font-size: 1rem;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.item:hover {
  cursor: pointer;
}
